<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datenschutzerklärung</title>
        <link rel="stylesheet" href="style.css"> <!-- Falls du eine CSS-Datei hast -->
    </head>

<body>
    <h1 id="impressum">Impressum</h1>
    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>
        Meral Sahin<br>
        Wachtelstr. 53B<br>
        22305 Hamburg<br>
    </p>
    <p>
        <strong>Kontakt:</strong><br>
        E-Mail: <a href="mailto:meralsa@icloud.com">meralsa@icloud.com</a><br>
        Telefon: 0176 43880851 (bitte nur in dringenden Fällen)
    </p>
    <p>
        <strong>Hosting:</strong><br>
        Diese Website wird über GitHub Pages gehostet.<br>
        Anbieter: GitHub Inc., 88 Colin P. Kelly Jr. Street, San Francisco, CA 94107, USA
    </p>
    <p>
        <strong>Verantwortlich für den Inhalt gemäß § 55 Abs. 2 RStV:</strong><br>
        Meral Sahin (Anschrift wie oben)
    </p>
</body>
</html>