<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Hi, mein Name ist Meral.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>on my way</h4>
                                    <h4 class="subheading">My Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Knifflige Herausforderungen? Her damit! Ich löse sie mit einer Kombination aus analytischem Verstand und kreativer Finesse.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ein guter Cocktail</h4>
                                    <h4 class="subheading">mehr als eine Prise kreativ & ein Hauch analytisch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Marketing und Consulting: Ich entwickle zielgerichtete Marketingstrategien, begleite Kampagnen und unterstütze Unternehmen durch datenbasierte Beratung bei der Entscheidungsfindung.
                                        <p></p>Strategie und Konzeptentwicklung: Ich erstelle durchdachte Konzepte, die auf fundierten Analysen basieren, und sorge für deren erfolgreiche Umsetzung in Projekten.
                                        <p></p>Projektmanagement und Datenanalyse: Mit meiner Erfahrung in Projektkoordination und Data Analytics führe ich Projekte effizient durch und generiere wertvolle Einblicke aus komplexen Datensätzen.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>future aims</h4>
                                    <h4 class="subheading">angekommen?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nach einem erfolgreichen Praktikum bei der Lufthansa Technik, musste ich mich auf Grund von Corona nochmal umschauen und fand schnell eine Stelle als Betreuerin im FrontEnd in einem eher kleinen Unternehmen. Das tolle an kleineren Unternehmen ist, dass man überall aushelfen kann – sofern man es möchte – und sich ein sehr allgemeines Know-How anarbeiten kann. Der Job machte mir Freude, besonders der Part der kreativen Lösungsorientierung. War da also mehr als nur Programmierung, Zahlen, Support und das Managen? Ich war bisher immer auf dem technischen Pfad und das seit ich ein Teenager bin. Als nächstes wurde ich also zum Marketing Consultant und durfte wenige Monate nach meiner Einstellung eine Videoproduktion in Spanien leiten, die ich zuvor organisiert und gescriptet habe. An dieser Herausforderung bin ich ein gutes Stück gewachsen und habe mich in der Welt des Marketings sehr wohl gefühlt.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lesson learned</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ich liebe Herausforderungen die eine kreative Ader benötigen und das am liebsten in der Kombi von Zahlen und Daten auf denen das ganze basiert. Weshalb ich mich zu einer Weiterbildung zum Data Analyst & Scientist entschied. Ich fühle mich sehr wohl mit den Umgang von Zahlen und bereite diese gerne so auf, dass diese auch ohne große Worte stark aussagekrftig sind. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let's
                                    <br>work
                                    <br>together</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
