<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Hi, mein Name ist Meral.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>how I</h4>
                                    <h4 class="subheading">work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ob Daten, Strategien oder innovative Lösungen – ich liebe es, Strukturen zu erkennen, Muster zu entschlüsseln und dabei auch unkonventionelle Wege zu gehen. Denn oft liegt die beste Lösung nicht nur in der Logik, sondern in der Fähigkeit, querzudenken und neue Perspektiven zu entdecken.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>education</h4>
                                    <h4 class="subheading">Media Technology B.Sc & Data Scientist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Als ausgebildete Medientechnikerin habe ich gelernt, Technik und Kreativität zu verbinden. Doch meine Neugier für Daten und deren Einfluss auf Entscheidungen hat mich weitergetrieben – und so habe ich eine Weiterbildung in Datenverarbeitung absolviert. 
                                         </p>
                                    </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>combination</h4>
                                    <h4 class="subheading">for sucess</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Durch meine Tätigkeiten in verschiedenen Bereichen habe ich nicht nur meine Leidenschaft für analytisches Denken entdeckt, sondern auch mein Talent für Organisation und Prozessoptimierung.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>motivation</h4>
                                    <h4 class="subheading">& passion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Was mich antreibt? Die Dynamik zwischen Daten und menschlichem Verhalten! Ich finde es faszinierend, wie Zahlen Geschichten erzählen und uns helfen, Entscheidungen zu verstehen. Mein Ziel: datenbasierte Strategien entwickeln, die nicht nur präzise, sondern auch menschenzentriert sind.
                                        </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>What's
                                    <br>coming
                                    <br>next?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
